<div class="top">
<%= render "shared/header" %>
</div>

<div class="main_items">
<%= render "shared/side-bar" %> 
 
 <div class="videos">
  <%= "投稿ビデオ" %>
    <% @video.each do |video|%>
    <li class='list'>
      <%= link_to video_path(video.id) do %>
      <div class='item-img-content'>
      <%= image_tag video.image.variant(resize:'500x500'), class: 'message-image' if video.image.attached?%> 
       <% end %>
    <% end %>
  
  <ul class='main_category_list'>
  <li class='main_music'>
  <%= "音楽"%>
  <li class='main_cook'>
  <%= "料理"%>
  <li class='main_business'>
  <%= "ビジネス"%>
  <li class='main_entertainment'>
  <%= "エンターテイメント"%>
  <li class='main_sport'>
  <%= "スポーツ"%>
  <li class='main_game'>
  <%= "ゲーム"%>
  <li class='main_vlog'>
  <%= "vlog"%>

</div>


<%# <h1>Videos#index</h1>
<p>Find me in app/views/videos/index.html.erb</p> %>
