<div class="top">
<%= render "shared/header" %>
 </div>

<div class="main_items">
<%# <%= render "shared/side_bar" %> 
 <div class="category">
  <%= "カテゴリー" %>
  <ul class='category_list'>
  <li class='music'>
  <%= "音楽"%>
  <li class='cook'>
  <%= "料理"%>
  <li class='business'>
  <%= "ビジネス"%>
  <li class='entertainment'>
  <%= "エンターテイメント"%>
  <li class='sport'>
  <%= "スポーツ"%>
  <li class='game'>
  <%= "ゲーム"%>
  <li class='v_log'>
  <%= "エンターテイメント"%>
</div>
 <div class="videos">
  <%= "投稿ビデオ" %>
</div>
  



<%# <h1>Videos#index</h1>
<p>Find me in app/views/videos/index.html.erb</p> %>
