<div class="category">
  <%= "カテゴリー" %>
  <ul class='category_list'>
  <li class='music'>
  <%= "音楽"%>
  <li class='cook'>
  <%= "料理"%>
  <li class='business'>
  <%= "ビジネス"%>
  <li class='entertainment'>
  <%= "エンターテイメント"%>
  <li class='sport'>
  <%= "スポーツ"%>
  <li class='game'>
  <%= "ゲーム"%>
  <li class='vlog'>
  <%= "vlog"%>
</div>
